* {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    color: #eee;
}
/* b0002c hsl(345,100%,35%) rgb(176,0,44) */
li {
    list-style: none;
}

/* STYLING BANK CONTAINER */
.bankContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* SIDE BAR STYLING */
.sideBar {
    width: 18%;
    height: 100vh;
    background-color: #fff;
}

.sideBarMenu {
    padding: 10px;
    text-decoration: none;
    color: #003;
    font-weight: 600;
    display: block;
    height: 40px;
    width: 100%;
}

.sideBarMenu:hover{
    background-color: #b0002c;
    text-decoration: none;
    color: #eee;
    padding-bottom: 10px;
}
#sideBarMenu {
    background-color: #b0002c;
    border: 2px dotted #eee;
    color: #eee;
    padding-bottom: 35px;
}



/* STYLING SECTION CONTAINER */
.sectionContainer {
    width: 82%;
    padding: 30px;
    height: fit-content;
}

#accounts {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
}

#accounts>div {
    width: 30%;
    height: 120px;
}

#quickAction{
    width: 50%;
}

#quickAction button{
    width: 150px;
    height: 70px;
}

.bottomMenu{
    display: none;
    font-size: 25px;
    background-color: #b0002c;
}
#bottomBarMenu{
    background-color: #0033;
    border: 2px dotted #0033;
    border-radius: 50%;
    padding: 8px 10px;
}


#toggle{
    display: none;
}


@media only screen and (max-width: 620px) {

    #toggle{
        display: block;
    }
    
    #toggletwo{
        display: none;
    }
    

    .bottomMenu{
        display: block;
    }
    /* STYLING SECTION SIDE BAR */

    .sideBar {
        display: none;  
    }

    /* STYLING SECTION CONTAINER */
    .sectionContainer {
        width: 100%;
    }
    .sectionContainer {
        padding: 10px;
    }
    #accounts {
        overflow-x: scroll;
    }
    .sectionContainer > div:first-child{
        padding-top: 50px;
    }

    #accounts > div {
        width: 100%;
        margin-left: 20px;
    }

    #quickAction{
        width: 100%;
    }
    
    #quickAction button{
        width: 80px;
        height: 70px;
    }

    
}